PHP_VERSION=8
ENV=test
TEST_ADDRESS=email@domain.com
TEST_ADDRESS_NAME='Test Name'
LOG_LEVEL=1
DEFAULT_ADAPTER=postmark
MAIL_SMTP_SERVER=smtp.sendgrid.net
MAIL_SMTP_PORT=587
MAIL_SMTP_USER=apikey
MAIL_SMTP_PASSWORD='<YourSmtpPassword>'
SENDGRID_API_KEY='<YourAPIKey>'
POSTMARK_API_KEY='<YourAPIKey>'
MAILERSEND_API_KEY='<YourAPIKey>'
SENDINBLUE_API_KEY='<YourAPIKey>'
MS_GRAPH_TENTANT_ID='<tentant_id>'
MS_GRAPH_CLIENT_ID='<client_id>'
MS_GRAPH_CLIENT_SECRET='<client_secret>'